.logging {
  background-image: url(https://i.picsum.photos/id/866/2000/2000.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;

  &__submit {
    cursor: pointer;
    border: 0;
    width: 8rem;
    height: 2.5rem;
    font-size: .8rem;
    border-radius: .4rem;

    &:hover {
      color: white;
      background-color: rgb(0, 163, 0);
    }
  }

  &__name {
    border: 0;
    border-radius: .4rem;
    text-indent: 1rem;
    margin-right: 1rem;
    height: 2rem;
    width: 20rem;
    font-size: 1rem;
  }
}
